
{% extends 'general/layout.html' %}

{% block head_title %} No Contencioso {% endblock %}
{% load static %}

{% block page_title %}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'estilos/escrituras.css' %}">
{% endblock %}

{% block page_content %}


<div class="container-escrituras">
    <!-- Izquierda: Título y Enlaces -->
    <div class="left-section">
        <h1>Asuntos No Contenciosos</h1>
        <div class="box-left">
            <a href="{% url 'nocontencioso:sucesiones' %}">Sucesión Intestada</a>
            <a href="{% url 'nocontencioso:rectificacion' %}">Rectificación de Partidas</a>
            <a href="{% url 'nocontencioso:union' %}">Unión de Hecho</a>
            <a href="{% url 'nocontencioso:ceseunion' %}">Cese de Unión de Hecho</a>
            <a href="{% url 'nocontencioso:divorcio' %}">Divorcio</a>
            <a href="{% url 'nocontencioso:patrimoniofamiliar' %}">Constitución de Patrimonio Familiar</a>
            <a href="{% url 'nocontencioso:adopcion' %}">Adopción de Personas Capaces</a>
        </div>
        <img src="{% static 'images/escrituras-imagen.png' %}" alt="Escrituras Imagen" class="escrituras-image">
    </div>

    <!-- Derecha: Requisitos -->
    <div class="right-section">
        <div class="box-right">
            <h2>Unión de Hecho</h2>
            <p class="requisitos-text">
                <strong>Requisitos</strong><br><br>
                Presentar minuta firmada por ambas partes y autorizada por abogado.<br><br>
                La minuta debe indicar:<br><br>
                - Nombres, apellidos y documentos de identidad de los solicitantes.<br><br>
                - Reconocimiento expreso que conviven no menos de dos años, consignando la fecha exacta a partir de la cual conviven, sin que haya existido impedimento matrimonial para dicho efecto.<br><br>
                - Declaración expresa de no tener impedimento matrimonial u otro conviviente.<br><br>
                Documentos a adjuntar:<br><br>
                1. Declaración jurada del domicilio de cada otorgante.<br><br>
                2. Certificado negativo de unión de hecho emitido por SUNARP de cada otorgante<br><br>
                3. Declaración de dos testigos. Los testigos no deben ser familiares de los solicitantes.<br><br>
                4. Documentos que acrediten la convivencia (por lo menos 2 años). Por ejemplo:
                Copias de los DNI de los solicitantes , estado de cuenta, contratos con fecha cierta, póliza de seguros, comunicaciones de entidades públicas, comunicaciones de entidades prestadoras de servicios, todos los documentos deben estar dirigidos a la dirección y nombre de los solicitantes.
                <br><br>
               
            </p>
        </div>
    </div>
</div>

{% endblock %}