<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title> {% block head_title %} Notaría Paul Hurtado {% endblock %} </title>
   {% load static %}
   <link rel="stylesheet" href="{% static 'estilos/layout.css' %}">
   <link rel="stylesheet" href="{% static 'estilos/footer.css' %}">
   {% block head %}
   {% endblock %}
</head>
<body>
    
    {% include '_includes/_nav.html' %}

    <h2> {% block page_title %} Título de página {% endblock %} </h2>
   
    {% block page_content %}


    {% endblock %}

    {% include '_includes/_footer.html' %}


</body>
</html>